@media screen and (min-width: 1000px) {
    .text-image-block {
        display: flex;
        flex-direction: row;
        max-width: 64%;
        margin: 3%;
    }

    .left {
        display: flex;
        flex-direction: row-reverse;
    }

    .right {
        display: flex;
        flex-direction: row;
    }

    .up {
        display: flex;
        flex-direction: column-reverse;
    }
    .down {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .text-image-block-text {
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        max-width: 45%;
    }

    .image-down {
        align-items: center;
        margin: 0 0 3% 0;
        max-width: 60%;
    }

    .text-image-block-caption {
        font-size: 200%;
        font-weight: 700;
        margin:  0 0 5% 0;
    }

    .text-image-block-description {
        font-size: 100%;
        font-weight: 400;
    }

    .text-image-block-image {
        max-width: 40%;
    }
}

@media screen and (max-width: 1000px) and  (min-width: 500px){
    .text-image-block {
        display: flex;
        flex-direction: row;
        max-width: 64%;
        margin: 3% 0;
    }

    .left,
    .right,
    .down {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .up {
        display: flex;
        flex-direction: column-reverse;
    }

    .text-image-block-text {
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        max-width: 45%;
    }

    .image-down,
    .image-left,
    .image-right {
        align-items: flex-start;
        margin: 0 0 3% 0;
        max-width: 60%;
    }

    .text-image-block-caption {
        font-size: 200%;
        font-weight: 700;
        margin:  0 0 5% 0;
    }

    .text-image-block-description {
        font-size: 100%;
        font-weight: 400;
    }

    .text-image-block-image {
        max-width: 60%;
    }
}

@media screen and (max-width: 500px){
    .text-image-block {
        display: flex;
        flex-direction: row;
        max-width: 90%;
        margin: 3% 0;
    }

    .left,
    .right,
    .down {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .up {
        display: flex;
        flex-direction: column-reverse;
    }

    .text-image-block-text {
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        max-width: 90%;
    }

    .image-down,
    .image-left,
    .image-right {
        align-items: flex-start;
        margin: 0 0 3% 0;
        max-width: 90%;
    }

    .text-image-block-caption {
        font-size: 200%;
        font-weight: 700;
        margin:  0 0 5% 0;
    }

    .text-image-block-description {
        font-size: 100%;
        font-weight: 400;
    }

    .text-image-block-image {
        max-width: 90%;
    }
}