.preview {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 600px;
    background: #737997;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview-title {
    position: absolute;
    width: 60%;
    color: white;
}

.preview-caption {
    font-size: 300%;
    font-weight: 700;
    margin-top: 4%;
    margin-bottom: 6%;
    margin-right: 30%;
    letter-spacing: 0.2em;
}

.preview-description {
    font-size: 200%;
    margin: 5% 50% 5% 0;
}