@media screen and (min-width: 1350px) {
    .useful-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 5%;
        width: 64%;
        max-height: 600px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        margin: 5% 0 0;
    }
}
@media screen and (max-width: 1350px) and (min-width: 550px) {
    .useful-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5% 0;
        width: 64%;
        max-height: 1200px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 60%;
    }
}

@media screen and (max-width: 550px) {
    .useful-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5% 0;
        width: 64%;
        max-height: 1200px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }
}