.useful-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0;
    width: 64%;
    height: 600px;
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 2% 0 0;
}