.useful-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
    width: 64%;
    height: 600px;
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 0;
    max-width: 30%;
    min-width: min-content;
    height: 100%;
}


.card-button {
    max-width: 60%;
    min-width: fit-content;
    width: 100%;
    margin: 10px 0;
}