.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #000000;
    color: white;
    height: fit-content;
}

.inner-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 64%;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 1.5%;
}

.inner-footer-contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.git {
    margin-top: 1.5%;
}

.developer-name {
    color: rgba(255,255,255,0.70);
}

.git-link {
    color: rgba(255,255,255,0.70);;
}

.footer-copyright {
    font-weight: 400;
    font-size: 80%;
    color: rgba(255,255,255,0.40);
    margin-top: 3%;
    margin-bottom: 1%;
}